{% extends "base.html" %} {% block content %}
{% load static %}
<div class="container my-3 col " style="text-align: center;">
    <img class="img-fluid vh-100" src="{% static 'images/3d.jpeg' %}" alt="Card image cap" style="object-fit: cover">

</div>

<div class="text-center mx-8 my-5 col">
    <h3> <b> 3D Printing & Fabrication  </b></h3>

<span>
    3D printing or additive manufacturing is a process of
    making three dimensional solid objects from a digital
    file.
    The creation of a 3D printed object is achieved using 
    additive processes. In an additive process an object is 
    created by laying down successive layers of material 
    until the object is created. Each of these layers can be 
    seen as a thinly sliced cross-section of the object.

</span>
</div>
{% include 'footer.html' %}

{% endblock %}