{% load static %}
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial">
<meta name="msapplication" content="">
<meta name="theme-color" content="#">
<meta name="auth" content="Wamuyu">
<meta name="description" content="STEM Impact Center is a mobile tinkering fab lab">

<html>
<title> STEM Impact Center</title>
<link rel="shortcut icon" href="/images/favicon.ico">

</link>

<body>

    {% include "css.html" %} {% include "js.html" %} {% include "navbar.html" %} {% block content %} {% endblock %}

</body>

</html>