{% extends "base.html" %} {% block content %}
{% load static %}


<div class="container my-3 col " style="text-align: center;">
    <img class="img-fluid vh-100" src="{% static 'images/competition.jpg' %}" alt="Card image cap" style="object-fit: cover">

</div>

<div class="text-center mx-15 my-5 col">
    <h3> <b> Competitions </b></h3>
    <h4> <b> World Robot Olympiad (WRO) Competition </b></h4>

<span>

    World Robot Olympiad Kenya is an international robotics 
competition organized by World Robot Olympiad 
Association is a non-profit organization. 

</span>
<p>
    World Robot 
Olympiad aims to bring together young people all over the 
world to develop their creativity and problem solving skills.
We do that by organizing challenging and educational robotics
competitions
</p>
</div>



{% include 'footer.html' %}
{% endblock %}