<footer class="footer">
    <div class="container row">
        <div class="col-6 ">
            <h2 class="small_heading "> Contact Us</h2>
            <P style="line-height: 200%; ">
                STEM IMPACT CENTER
                <br> 12th Masaba Rd , Upperhill
                <br> +2547000000
                <br> contact@stemimpactcenter.org
                <br>
                <a class=" "> Join our Newsletter</a>
            </P>
        </div>
        <div class="col-6 ">
            <p style="line-height: 200%; ">
                Need help finding something?
            </p>
            <form class="form-inline ">
                <input class="form-control mr-sm-2 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Search</button>
            </form>
        </div>

    </div>
</footer>