<!-- <footer class="footer ">
    <div class="container row">
        <div class="col-6 ">
            <h2 class="small_heading "> Contact Us</h2>
            <P style="line-height: 200%; ">
                STEM IMPACT CENTER
                <br> 12th Masaba Rd , Upperhill
                <br> +2547000000
                <br> contact@stemimpactcenter.org
                <br>
                <a class=" "> Join our Newsletter</a>
            </P>
        </div>
        <div class="col-6 ">
            <p style="line-height: 200%; ">
               
            </p>
           
        </div>

    </div>
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class='col-md-1 mb-md-0 mb-1'>

        </div>
        <div class="col-md-5 mt-md-0 mt-5">
  
          <!-- Content -->
          <h5 class="text-uppercase">STEM IMPACT CENTER
        </h5>
          <P style="line-height: 200%; ">
            <br> 12th Masaba Rd , Upperhill
            <br> +2547000000
            <br> contact@stemimpactcenter.org
            <br>
            <a class=" "> Join our Newsletter</a>
        </P>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class='col-md-2 mb-md-0 mb-2'>

        </div>
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-4 ml-auto">
  
          <!-- Links -->
          <h5 class="text-uppercase"> Need help finding something?</h5>
  
          <form class="form-inline ">
            <input class="form-control mr-sm-2 " type="search " placeholder="Search " aria-label="Search ">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit ">Search</button>
        </form>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:STEM Impact Center
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->