 {% extends "base.html" %} {% block content %}

<div class="content">
    {% include 'carousel.html' %}

    <div class='col mt-3' >
        <h1 class="text-center"> <b>Mission</b></h1>
       
    </div>
    <div class='col mt-3 mx-10'>
        
                <span class='text-center'>The STEM Impact Center is a mobile tinkering lab that provide a creative space and resources for learners and educators
                    to explore science, technologies, mathematics, engineering and mathematics (STEM); creative coding and physical
                    computing.</span>
    
           
    </div>
    <div class='col mt-3'>
        <h1 class="text-center"> <b>What we Do</b></h1>
        </div>
    <br> {% include "cards.html" %}

</div>

<br>
<div class="footer mt-4 gap-bottom">

    {% include 'footer.html' %}
</div>
{% endblock %}