 {% extends "base.html" %} {% block content %}
<div class="icon-bar">
    <a href="https://web.facebook.com/STEMImpactCenterKenya/?_rdc=1&_rdr" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/stemimpactkenya?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/stem_impact_center_kenya" class="google"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/stem-impact-center-kenya/" class="linkedin"><i class="fa fa-linkedin"></i></a>
</div>
<div class="content">
    {% include 'carousel.html' %}
    <br>
    <br> {% include "cards.html" %}
</div>
<br>
<div class="footer mt-4 gap-bottom">

    {% include 'footer.html' %}
</div>
{% endblock %}