 {% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <b> STEM IMPACT CENTER</b>
            <img src="{% static 'pages/favicon.ico' %}" width="30" height="30" alt="">
            </img>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b> PROGRAMS </b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Robotics Training</a></li>
                    <li>
                        <a class="dropdown-item" href="#"> STEM Training </a>
                    </li>
                    <!-- <li><a class="dropdown-item" href="#"></a></li> -->
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>WHAT WE DO </b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Kids Training</a></li>
                    <li>
                        <a class="dropdown-item" href="#">Teacher Training</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><b>BLOG </b></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>ABOUT </b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Our Team</a></li>
                    <li>
                        <a class="dropdown-item" href="#">Join Our Team</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Get our Newsletter</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>